  body {
    color: black; background-color: white;
    font-size: 100.01%;
    font-family: Georgia, Palatino, Palatino Linotype, FreeSerif, serif, Verdana, Helvetica, sans-serif;/*Helvetica,Arial,sans-serif;*/
    margin: 0; padding: 1em;
    min-width: 41em; /* Mindestbreite verhindert Umbruch und Anzeigefehler in modernen Browsern */
  }
  
  div#Seite {
    text-align: left;    /* Seiteninhalt wieder links ausrichten */
    margin: 0 auto;      /* standardkonforme horizontale Zentrierung */
    width: 750px;
    padding: 1px 0 0 0em;
    border: 2px ridge silver;
  	background-image:url(/img/symposion.jpg);
  	background-position: 0 0;
  	background-repeat:no-repeat;
  }
  
  div#pagehead {
  	/*height: 100px;*/
  	height: 128px; /*146px;*/
  	background-color: transparent;
    border: 1px ridge transparent;
    margin: 0.5em; padding: 0em;
    position: relative;
  }

  div#pagehead h1 {
    font-size: 1.5em;
    margin: 2em 0 0 0; padding: 0;
    /*margin: 0 0 0.7em; padding: 0.3em;
    text-align: center;
    background-color: #fed;
    border: 2px ridge silver;*/
  }
  
  div#pagehead p {
  }
  
  div#showNew {
      font-size: 0.8em;
  
  }
  div#showAll {
    font-size: 0.8em;
  	    display: none;
  }

  div#accessibility {
    float: left;
    background-color: white;
    font-size: 0.83em;
    padding: 0.3em;
    /*position: absolute; bottom: 0px; left: 0px;*/
    position: absolute; top: -0.5em; left: -0.5em;
    opacity: 0.7;
  }
  
  div#login {
  	float: right;
  	background-color: white;
  	font-size: 0.83em;
  	padding: 0.3em;
  	/*position:absolute; bottom:0px; right:0px;*/
  	position:absolute; top:-0.5em; right:-0.5em;
  	opacity:0.7; 
    /*filter:alpha(opacity=70);*/
  }
  
  div#separator {
  	height: 0.2em;
  	width: 75%;
  	margin: 0.4em 1em 0.4em 0;
  	border-bottom: 2px ridge silver;
  }
  
  div#Menu {
    float: left; width: 200px;
    margin: 0em; padding: 0.5em 0 0 0.5em;
    border: 0px dashed silver;
  }
  
  div#Menu div {
    margin-bottom: 1em;
    border: 0px dashed silver;
  }
  div#Menu h2 {
    line-height: 2em;
    font-size: 1em;
    /*font-variant:small-caps;*/
    /*letter-spacing:0.1em*/
    margin: 0.2em 0 0em 0;
  }


  div#Inhalt {
    /*margin: 0 12em 1em 16em;*/
    font-size: 1.0em;
  	margin: 0 0 0 220px; padding: 0.5em 0.5em 0 0;
    border: 0px dashed silver;
  }
  * html div#Inhalt {
    height: 1em;  /* Workaround gegen den 3-Pixel-Bug des Internet Explorer bis Version 6 */
  }
  div#Inhalt h2 {
    line-height: 1.2em;
    font-size: 1.2em;
    margin: 0.6em 0 0.6em 0;
  }
  div#Inhalt p {
    font-size: 0.9em;
    line-height: 1.35em;
    margin: 12em;/*0 0 12em 0;*/
    /*margin: 1em 0;*/
  }
  .inpagenav {
    font-size: 0.8em;
  }
  
  
  div#search input#search {
  	margin: 0 0 0 0;
  	width: 130px;
  }
  
  div#buttons {
    font-size: 0.83em;
  }
  
  div#accesskeys {
      font-size: 0.83em;
  }	  
  div#accesskeys a {
    text-decoration: none;
    color: black;
  }
  div#accesskeys a:link {}
  div#accesskeys a:visited {}
  div#accesskeys a:hover {}
  div#accesskeys a:active {}


  
  
  
  div#Menu ul {
    font-size: 0.83em;
	margin: 0; padding: 0;
    border: 0px dashed silver;
  }
  div#Menu ul li {
    list-style: none;
    margin: 0; padding: 0 0 0.5em 0;
  }

  div#Menu ul a {
    font-weight: bold;
  }
  div#Menu ul a:link {
    color: black; background-color: #eee;
  }
  div#Menu ul a:visited {
    color: #666; background-color: #eee;
  }
  div#Menu ul a:hover {
    color: black; background-color: white;
  }
  div#Menu ul a:active {
    color: white; background-color: gray;
  }

  
	div#post {
		border: 0px dashed silver;
		margin: 0; padding: 0em;
		margin-bottom: 1em;
	}
	div#header {
		background-color: silver;
		margin: 0; padding: 0em;
		padding-bottom:0.2em;
	}
	div#header h3 {
	  line-height: 1em;
	  font-size: 0.83em;
		margin: 0; padding: 0.4em 0 0.2em 0em;
	}
  div#Inhalt h4 {
    line-height: 1em;
    font-size: 0.83em;
    margin: 0; padding: 0.2em 0 0.4em 0;
  }
div#content {
		margin: 0; padding: 0em;
	}
	div#content p {
		/*background-color: black;*/
		margin: 0.2em 0 0.3em 0em; padding: 0em;
	}
	div#footer {
		/*background-color: Gray;*/
  		border-top: 0px solid silver;
  		border-bottom: 1px solid silver;
  		height: 1em;
		margin: 0; padding: 0.2em;
  	}


	div#topics {
		font-size:1em;	
		line-height: 1em;	
	}
	div#topics a:link {
		text-decoration:none;		
	}
	div#topics a:visited {
		text-decoration:none;		
	}
	div#topics a:hover {
		text-decoration:underline;		
	}
	div#topics a:active {
	}
	div#topics p {
		margin: 0; padding: 0;
		margin-bottom:0.5em;
	}
	div#topics em {
		margin-left: 0.2em;
		font-size:0.9em;		
	}
	div#topics span {
		margin-left: 0.2em;
		font-size:0.9em;		
		color: gray;		
	}

  p#Fusszeile {
    clear: both;
    font-size: 0.9em;
    margin: 0; padding: 0.1em;
    text-align: center;
    background-color: #fed; border: 1px solid silver;
  }